* {
	margin:0; padding:0;
  }
  header {
	height: 100px;
	width: 100%;
	padding: 15px 0;
	background-color: #337079;
	color: white;
  }
  header .headline{
	  line-height: 100px;
	  float: left;
	  font-size: 30px;
	  margin-left: 100px;
  }
  .nav-list {
	  line-height: 100px;
	  float: left;
	  margin-left: 30px;
	  list-style: none;
  }
  .nav-list-item {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
  }
.button04 {
	background-color: #fff;
	border: double 6px #3cb371;
	color: #3cb371;
	border-radius: 10px;
	padding: 50px 80px;
	text-decoration: none;
	font-size: 1em;
  }
  .button04:hover {
	color: #3cb371;
	background-color: #f0fff0;
  }
  
  
